.constructionsites_list_container {
    margin-bottom: 10px;
}

h2 {
    font-size: 12px;
    font-weight: normal;
}

.noclegi {
    font-size: 12px;
    text-decoration: underline;
}

h1 {
    margin-bottom: 10px;
}
