li {
    list-style: none;
}

h1 {
    margin-bottom: 0;
}

.contractor_email_list p {
    font-family: Roboto, sans-serif;
    margin: 6px;
}

.contractor_email_list {
    margin: 6px;
    height: fit-content;
}

p {
    margin: 6px;
}

h3 {
    font-size: 16px;
    margin-bottom: 4px;
}

li[data-name="Kontrahent 1"],
li[data-name="Kontrahent 4"],
li[data-name="Kontrahent 8"],
li[data-name="Kontrahent 11"],
li[data-name="Kontrahent 14"],
li[data-name="Kontrahent 19"],
li[data-name="Kontrahent 22"],
li[data-name="Kontrahent 23"]
{
    color: #888;
}